pyyaml
requests
pymodbus==2.5.3
paho-mqtt
asyncio-mqtt
pymysql
opcua
flask
fastapi
SQLAlchemy
sqlalchemy
eventlet
flask_cors
cryptography
bcrypt==3.2.0
flask-bcrypt
psutil
redis
pandas
uvicorn
jwt
python-jose==3.3.0
passlib
python-multipart
mysql-connector-python
mybatis-mapper2sql
async-paho-mqtt-client
hbmqtt
mqttools
backports.pbkdf2
gmqtt
async-timeout
WMI
pyroute2
pyuac
passlib
python-dotenv
pydantic_computed
schedule
python-dotenv
APScheduler
psycopg2